<%- include('../includes/head', { pageTitle: 'Signup'}) %>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Create New Accout</h1>
        <form action="" method="">
            
        </form>
    </main>
</body>

<%- include('../includes/footer') %>
</html>